.row
  .offset10.span2= link_to "New Fob", new_fob_path
%br
.row
  %strong.span3 ID
  %strong.span3 Key
  %strong.span3 Edit
  %strong.span3 Delete
= render :partial => "show", :locals => { :fob => @fob }
