  <div class ="row"><div class="offset9 span3"><%= link_to "Add a Person", new_person_path %></div></div>
  <div class="row"><b>
    <div class ="span1"> ID </div>
    <div class ="span3"> Name </div>
    <div class ="span3"> Fobs </div>
    <div class ="span3"> Doors </div>
    <div class ="span3"> Edit </div>
    <div class ="span1"> Delete </div>
</b></div>
<% @people.each do |person| %>
<%= render :partial => "show", :locals => { :person => person } %>
<% end %>
<br>
<div class="digg_pagination">
    <%= will_paginate @people, :container => false %>
  </div>
