
- item_count= aggregate_possession_contracts(@people).count
= render :partial => "header_equipment_possession_on_date", :locals => { :date => @date, :item_count => item_count } 


%table.table.table-striped{border: "1"}
  %tr
    %th Name 
    %th Amount Owed
- @people.each do | person |
  .row
    %td= link_to person.name, show_person_equipment_path(person.id) 
    %td {border="1"}= number_to_currency(lease_total_payments(person.possession_contracts))
  .row
    %td colspan=1
    %td border="1"= number_to_currency(lease_total_payments(aggregate_possession_contracts(@people)))  
.digg_pagination= will_paginate @people, :container => false