<% provide(:title, @person.name) %>
<table class="table table-striped">
  <tr>
    <th> ID </th>
    <th> Name </th>
  </tr>
  <tr>
    <td><%= @person.id %> </td>
    <td><%= @person.name %></td>
    <td><%= link_to "Edit", edit_person_path(person.id)  %></td>
    <td><%= link_to "Delete", person_path(person.id), :confirm => "Are you sure?", :method => :delete %></td>
  </tr>
</table>
