.row
  .offset10.span2= link_to "New Door Key", new_door_key_path
%b.row
  .span3 ID
  .span3 Door Name
  .span3 Person Name
  .span3 Edit
  .span3 Delete
- @door_keys.each do |door_key|
  = render :partial => "show", :locals => { :door_key => door_key }

.digg_patination= will_paginate @door_keys, {:container => false}
