.row
  .offset10.span2= link_to "New Door Key", new_door_key_path
%br
.row
  %strong.span3 ID
  %strong.span3 Door Name
  %strong.span3 Person Name
  %strong.span3 Edit
  %strong.span3 Delete
= render :partial => "show", :locals => { :door_key => @door_key }
