=semantic_form_for @equip do |f| 
  =f.semantic_errors :base 
  =f.inputs do 
    .row 
      .span2 Make:* 
      .span3=  f.input :make, input_html: {size: 20}, label: false 
    .row 
      .span2 Model:* 
      .span3= f.input :model , :input_html => { :size => 20}, :label => false 
    .row 
      .span2 Replacement Cost: 
      .span3= f.input :replacement_cost , :as => :string, :input_html => { :size => 4 }, :label => false 
    .row 
      .span2 Serial Number: 
      .span3= f.input :serial_number, :input_html => { :size => 20}, :label => false 
  =f.actions
