<% if object_errors.errors.any? %>
    <div id="error_explanation">
<div class="alert alert-error">
  The form contains <%= pluralize(object_errors.errors.count, "error") %>.
</div>
  <ul>
    <% object_errors.errors.full_messages.each do |msg| %>
  <li>* <%= msg %></li>
  <% end %>
</ul>
</div>
<% end %>
