- if object_errors.errors.any?
    #error_explanation"
.alert alert-error
  The form contains = pluralize(object_errors.errors.count, "error") 
  %ul
    - object_errors.errors.full_messages.each do |msg| 
  %li 
    * #{msg}
