<div class ="row"><div class="offset9 span3"><%= link_to "New Agreement", new_agreement_path %></div></div>
  <div class="row"><b>
    <div class ="span3"> Name </div>
    <div class ="span3"> Author </div>
    <div class ="span3"> Version </div>
    <div class ="span1"> Edit </div>
    <div class ="span1"> Delete </div></b>
</div>
  <%= render :partial => "show", :locals => { :article => @agreement } %>