input.editable-inplace {
 border-style: none;
 background: transparent;
 }

.editable.ishidden {
 display:none;
}

.editable.isvisible {
 display:inherit;
}

.editible.ishidden.currentelement {

}

.editable.isvisible.formelement {

}

.editable {
width:130px;
}

.myformelement.myelement-error {
border-color:red;
}

div.flash-notice.hidden {
 display:none;
}

div.flash-notice.flash-success.visible {
 display:inherit;
 background-color: #dff0d8;
 color: #468847;
 border-color: #d6e9c6;
}

div.flash-notice.flash-error.visible {
 display:inherit;
 background-color: #f2dede;
 border-color: #eed3d7;
 color: #b94a48;
 }

div {
 min-height: 1px;
}