div.mainwindow {
	margin-left: 1%;
	margin-top: 5%
}

div.row.headingrow {
	padding-bottom: 5px;
	padding-top: 2px;
}

input.search_class {
	width:100px;
}

div {
  content:'.';
}

ul.doors {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.fobs {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.door_keys {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
