<div class ="row"><div class="offset9 span3"><%= link_to "New Agreement Execution", new_agreement_execution_path %></div></div>
<div class ="row headingrow">
  <b>
  <div class ="span1">ID</div>
  <div class ="span3">Associated Person</div>
  <div class ="span3">Associated Agreement</div>
  <div class ="span2">Date Signed</div>
  <div class ="span2">Signed Document</div>
  <div class ="span1">Edit</div>
  <div class ="span1">Delete</div>
</b>
</div>
  <%= render :partial => "show", :locals => { :agreement_execution => @agreement_execution } %>
