.row
  .offset10.span2= link_to "New Door", new_door_path
%b.row
  .span2 ID
  .span3 Name
  .span3 Edit
  .span3 Delete

- @doors.each do |door|
  = render :partial => "show", :locals => { :door => door }

.digg_pagination= will_paginate @doors, {:container => false}
