.row
  .offset9.span2= link_to "New Door", new_door_path
%br
.row
  %strong.span2 ID
  %strong.span3 Name
  %strong.span3 Edit
  %strong.span3 Delete

- @doors.each do |door|
  = render :partial => "show", :locals => { :door => door }

.digg_pagination= will_paginate @doors, {:container => false}
